<header>
    <nav>
        <a href="/">Calent</a>
        <ul>
            <li><a href="/events">Events</a></li>
            <li><a href="/events/new">New event</a></li>
        </ul>
    </nav>
</header>